*:before,
*:after {
    box-sizing: border-box;
}


* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #e6f0ef;
}

.container {
    position: relative;
    width: 600px;
    background: #263422;
    padding: 24px;
    margin: 100px auto;
    border-radius: 25px;

}



.container .title {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3rem;

}

.container .input-box-wrpper {
    position: relative;
}



#btn {
    /*display: flex;
    text-decoration: none;
    padding: 20px;*/
    cursor: pointer;
    background-color: rgb(234, 234, 241);
    font-size: 20px;
    flex-wrap: wrap;
    transition: 0.5s;
    border-radius: 10px;
    color: brown;
}

.input-box-wrpper .box {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-bottom: 0;
    padding: 14px 10px;
}